input[type="button"] {
    padding: 10px;
    margin: 10px;
}
input.btn-example {
    background-color: darkcyan;
}
input[disabled] {
    color: lightgrey;
    text-shadow: none;
}
fieldset {
    text-align: center;
    width: 100%;
    padding: 0.5em auto;
    margin: 2em 0;
}
.notification {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgb(6,100,255);
    background-color: rgba(6,100,255,0.1);
}
.notification.extra {
    border: 1px solid rgb(500,6,255);
    background-color: rgba(100,6,255,0.1);
}
